
.pic1{
    height: 85vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./images/banner-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pic2{
    height: 85vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./images/banner-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pic3{
    height: 85vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./images/banner-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.font{
    font-size: 50px;
}


@media only screen and (max-width:576px) {
    .pic1{
        height: 50vh;
    }
    .pic2{
        height: 50vh;
    }
    .pic3{
        height: 50vh;
    }
}